*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dark{
    background-color: black !important;
}

header{
    background-color: black ;
}

header .fa-bars{
    color: white;
    font-size: 1.2em;
}

.navbar-toggler{
    border: none;
    outline: none;
}

.navbar-toggler:focus{
    border: none;
    outline: none;
}

.navbar-nav .nav-item{
    margin-right: 15px;
}

.navbar-nav .nav-item a.nav-link{
    color: white;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Black Ops One', cursive;
    border-bottom: 4px solid transparent;
    transition: 0.3s linear;
}

.navbar-nav .nav-item a.nav-link:hover{
    border-bottom: 4px solid red;
}

main{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

main h1{
    font-family: 'Black Ops One', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin-top: 210px;
    letter-spacing: 3px;
}

.container-image-data{
    background-color: black;
}
.tittle h1{
    font-family: 'Black Ops One', cursive;
    font-size: 5rem;
    letter-spacing: 2.6px;
    background-image: url('images/img.jpg');
    background-size: 100% 100%;
    -webkit-background-clip: text;
    color: transparent;
}
.w-100 {
    width: 100% !important;
    height: 70vh;
  }
.container-image-data .title h1{
    font-family: 'Black Ops One', cursive;
    font-size: 5rem;
    letter-spacing: 2.6px;
    background-image: url('images/img.jpg');
    background-size: 100% 100%;
    -webkit-background-clip: text;
    color: transparent;
}

.container-image-data h3{
    color: white;
    font-weight: 600;
}

.container-image-data p{
    color: gray;
    font-weight: 300;
}

section.sub-footer{
    background-color: black;
    border-top: 1px solid red;
    border-bottom: 1px solid gray;
}

section.sub-footer{
    font-weight: 500;
    color: white;
}

section.sub-footer ul li{
    list-style: none;
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}

footer.footer{
    background-color: black;
    color: white;
    font-size: 12px;
    word-spacing: 1.2px;
    font-weight: 300;
}

.fa-instagram{
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.animate{
    animation: rotation 1s linear 1s infinite alternate;
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }
}

/* jquery plugin twentyywenty style */

.twentytwenty-overlay{
    display: none;
}

/*  bootstrap style */

.row{
    overflow: hidden;
}



/* media query */



@media (min-width: 768px) {
    .d-md-block {
       display: block!important;
    }
  }
  
  /* .d-none {
       display: none!important;
  } */

@media only screen and (max-width: 280px){
    main .title h1{
        font-size: 2.2em;
    }

    .container-image-data p{
        font-size: 14px;
    }

    .container-image-data h3{
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 450px){
    .container-image-data .title h1{
        font-size: 4em;
    }
}

@media only screen and (max-width: 350px){
    .container-image-data .title h1{
        font-size: 3em;
    }
}

@media only screen and (max-width: 270px){
    .container-image-data .title h1{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 250px){
    #footer-img{
        position: absolute;
        top: 32px;
        width: 100px;
        height: 100px;
    }
}
